@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  background-color: #1e1e1e;
}

/* Heading */

.heading {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  color: #ffffff;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 0.125em;
}

/* End Heading */

/* Calculator */

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.188em solid orange;
  box-shadow: 0 0 1.25em rgba(255, 255, 255, 0.5);
  width: 18.75em;
  height: 70vh;
  border-radius: 1.875em;
}

/* End Calculator */
