@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  background-color: #1e1e1e;
}

/* Heading */

.heading {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  color: #ffffff;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 0.125em;
}

/* End Heading */

/* Calculator */

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.188em solid orange;
  box-shadow: 0 0 1.25em rgba(255, 255, 255, 0.5);
  width: 18.75em;
  height: 70vh;
  border-radius: 1.875em;
}

.calculator > .result {
  height: 40%;
}

.calculator > .result > input[type="text"] {
  width: 85%;
  height: 50%;
  text-align: end;
  padding: 0.628em;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 2.188em;
  font-weight: 600;
  padding-top: 4em;
  font-family: "Urbanist", sans-serif;
}

.calculator > .buttons {
  height: 60%;
}

.calculator > .buttons > .btn {
  display: flex;
  justify-content: space-evenly;
}

.calculator > .buttons > .btn > input[type="button"] {
  width: 3.125rem;
  padding: 0.75em;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 0.438em 0;
  font-size: 1.125rem;
  font-weight: 600;
  transition: 0.4s all;
}

.calculator > .buttons > .btn > input[type="button"]:active {
  font-size: 0.938em;
}

.calculator > .buttons > .btn > input[type="button"].darkGrey {
  background-color: #323232;
  color: #ffffff;
}

.calculator > .buttons > .btn > input[type="button"].lightGrey {
  background-color: #a5a5a5;
  color: #ffffff;
}

.calculator > .buttons > .btn > input[type="button"].orange {
  background-color: #f09509;
  color: #ffffff;
}

.calculator > .buttons > .btn > #longBtn {
  width: 63%;
  border-radius: 2.5em;
}

/* End Calculator */
